@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/bootstrap/less/theme.less";
@import "discover.less";
@import "summary.less";

@font-face {
	font-family: 'LinkedIn-Glyphs-2.0.2';
  	src: url('../fonts/LinkedIn-Glyphs-16px.eot');
  	src: url('../fonts/LinkedIn-Glyphs-16px.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/LinkedIn-Glyphs-16px.woff') format('woff'), 
		url('../fonts/LinkedIn-Glyphs-16px.ttf')  format('truetype'), 
		url('../fonts/LinkedIn-Glyphs-16px.svg#svgFontName') format('svg'); 
}






