@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/bootstrap/less/theme.less";

@navbar-height:                             42px;
@navbar-default-bg: 						#3f3f3f;
@navbar-default-link-color:                 darken(#cccfd3, 5%);
@navbar-default-link-hover-color:           white;
@navbar-default-link-active-color:          white;
@top-height: 								142px;
@global-width: 								974px;
@profile-bg-height: 						320px;
@profile-header-height: 					240px;
@text-gray: 								#aaa;
@grid-gutter-width: 						10px;
@brand-primary: 							#00A0DC;
@divider-line: 								1px solid #e5e5e5;
@widget-height: 							480px; 
@menubar-bg: 								#1a1a1a;

@font-face {
	font-family: 'LinkedIn-Glyphs-2.0.2';
  	src: url('../fonts/LinkedIn-Glyphs-16px.eot');
  	src: url('../fonts/LinkedIn-Glyphs-16px.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/LinkedIn-Glyphs-16px.woff') format('woff'), 
		url('../fonts/LinkedIn-Glyphs-16px.ttf')  format('truetype'), 
		url('../fonts/LinkedIn-Glyphs-16px.svg#svgFontName') format('svg'); 
}

body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	background-color: #eee;
	
	a {
		&:hover {
			cursor: pointer;
		}
	}
	
	.center {
		margin-left: auto;
		margin-right: auto;
		width: @global-width;
	}	
	
			
	button, .btn {
		background-image: none;
		border: none;
		&:focus {
			outline: none;
		}
		// &.btn {
		// 	background-image: none;
		// 	border: none;
		// }
	}

	.fa-star {
		color: #f0e716;
	}
	
	h1 {
		font-size: 20px;
		margin-top: 30px;
	}
	
	.card {
		//border-bottom: 1px solid #ccc;
		background-color: white;
		box-sizing: content-box;
		margin-bottom: 10px;
		vertical-align: baseline;
		box-shadow: 0 3px 12px rgba(0,0,0,0.2);
	}	
	//skill pills
	.skill {
		font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;		
		display: inline-block;
		background-color: #e5e5e5;
		border-bottom: 1px solid #ddd;			
		margin-right: 5px;
		margin-bottom: 8px;
		font-size: 13px;
		line-height: 16px;
		font-weight: normal;
		&:last-child {
			margin-right: 0 !important;
		}
		height: 24px;
		border-radius: 3px;

		padding: 4px 10px;
	}

	table, tbody {
		display: block;
		.truncate;
		tr {
			.truncate;
		}
		th {
			color: @text-gray;
			padding-right: 20px;
			font-weight: normal;
			.truncate;
		}
		td {
			.truncate;
		}
	}
	
	.truncate {
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	}	

	.reading {
		font-family: "FreightText Pro Book", "Avenir Next", "Helvetica", sans-serif;
		font-weight: normal;
	}

	.timestamp {
		font-size: 12px;
		color: @text-gray;
		font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important; 
	}

	.footer-hint {
		padding: 20px 0;
		text-align: center;
		&, a {
			color: @text-gray;
		}
		i {
			margin-right: 5px;
		}
	}
}


@import "chrome.less";
@import "discover.less";
@import "summary.less";




